header{
    text-align: center;
}

nav{
    border-style: groove;
    display: inline-block;
    margin: 20px;
}

ul li{
    display: inline-block;
    width: 200px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article{
    margin-left: 20px;
}

table tr td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}